
# Architecture specific flags

KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(HOSTARCH)/boot.o \
$(HOSTARCH)/tty.o \
$(HOSTARCH)/exception_handlers.o \
$(HOSTARCH)/interrupt.o \
$(HOSTARCH)/isr_wrapper.o \
$(HOSTARCH)/pci.o \


